<%= stylesheet_link_tag 'red'%>
			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">
				<div class="fullwidthbanner" data-height="650" data-shadow="0" data-navigationStyle="preview3">
					<ul class="hide">
					
						<!-- SLIDE1  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Rocket Elevators">
							<!-- MAIN IMAGE -->
							<%# <img src="assets/AdobeStock_103570025.jpeg"  alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> %>
							<%= image_tag 'AdobeStock_103570025.jpeg' %>
							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>
							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="center"
								data-y="100" 
								data-speed="400"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="words"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Elevate Safety, Speed and Style
							</div>

							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="center"
								data-y="200" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"

								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Take your building to the next level today
							</div>

							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="375"
								data-y="400" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"

								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<%= link_to "OUR SERVICES", "#{main_index_path}#services" , :class => "btn btn-danger btn-lg" %>
							</div>
							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="625"
								data-y="400" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"

								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<%= link_to "GET A QUOTE", main_quote_path , :class => "btn btn-primary btn-lg" %>
							</div>
							
						</li>

						<!-- SLIDE2  -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Residential Serivces">
							<!-- MAIN IMAGE -->
							<%# <img src="assets/AdobeStock_72034307.jpeg" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> %>
							<%= image_tag 'AdobeStock_72034307.jpeg' %>

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Residential <br />
									Services
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Find out why Rocket Elevators is the right <br />
									choice for your building.
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<%= link_to "RESIDENTIAL SERVICES", main_residential_projects_path , :class => "btn btn-danger btn-lg" %>
							</div>
						</li>

					<!-- SLIDE3  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Commercial Services">
						<!-- MAIN IMAGE -->
							<%# <img src="assets/AdobeStock_146216308.jpeg"  alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> %>
							<%= image_tag 'AdobeStock_146216308.jpeg' %>
							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="center"
								data-y="100" 
								data-speed="400"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="words"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
								COMMERCIAL SERVICES
							</div>
						
							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="center"
								data-y="200" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
						
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									World class technology for your business
							</div>
						
							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="center"
								data-y="400" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
									style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<%= link_to "COMMERICAL SERVICES", main_commercial_projects_path , :class => "btn btn-primary btn-lg" %>
							</div>
													
						</li>

					</ul>

				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->


			<hr class="m-0" /><!-- 1px line separator -->

			<!-- Services -->
			<section id="services">
				<div class="container">

					<div class="row">
						<div class="col-sm-4">

								<%= image_tag 'AdobeStock_122227340.jpeg', class: 'img-fluid', alt: "award" %>
							<h3 class="mt-10">Award Winning Projects</h3>
							<p>Rocket Elevators is a class leader in elevator technology. Click to see some of the accolades and award winning projects Rocket Elevators has been a part of.</p>
							<a href="#portfolio" class="btn btn-default">Awards & Projects</a>
						</div>

						<div class="col-sm-4">
								<%= image_tag 'AdobeStock_73868131.jpeg', class: 'img-fluid', alt: "residential-elevator" %>
							<h3 class="mt-10">Residential Services</h3>
							<p>Experienced in home elevator solutions for the eldery, those with disabilities and those who simply enjoy the finer things.</p>
							<a href="residential_projects.html" class="btn btn-default">LEARN MORE</a>
						</div>

						<div class="col-sm-4">
								<%= image_tag 'AdobeStock_179073967.jpeg', class: 'img-fluid', alt: "residential-elevator" %>
							<h3 class="mt-10">Commercial Services</h3>
							<p>Rocket Elevators is committed to helping your business increase productivity, safety and comfort through its innovate elevator systems.</p>
							<a href="commercial_projects.html" class="btn btn-default">LEARN MORE</a>
						</div>

					</div>

				</div>
			</section>
			<!-- /Services -->

			


			<!-- Parallax -->
			<section class="parallax parallax-1" style="background-image: url(<%= path_to_image('since1976.jpeg') %>);">
				<div class="overlay dark-6"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-300">Lifting people up since 1976</h2>
						<%= link_to "GET A QUOTE", main_quote_path , :class => "btn btn-primary btn-lg" %> 
						&nbsp; OR &nbsp; 
						<a class="btn btn-danger btn-lg" href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
			</section>
			<!-- /Parallax -->


			<!-- PORTFOLIO -->
			<section id="work">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Featured Work</h2>
					</div>

					<div class="text-center">
						<ul class="nav nav-pills mix-filter mb-60">
							<li data-filter="all" class="filter active"><a href="#">All</a></li>
							<li data-filter="awards" class="filter"><a href="#">Awards</a></li>
							<li data-filter="residential" class="filter"><a href="#">Residential Projects</a></li>
							<li data-filter="commercial" class="filter"><a href="#">Commercial Projects</a></li>
						</ul>
					</div>

				</div>

				<div id="portfolio" class="portfolio-nogutter">

						<div class="row mix-grid">

							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= path_to_image('award1.png') %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<%= image_tag 'award1.png', class: 'img-fluid', width: "600", height:"399" %>
									</figure>

									<div class="item-box-desc">
										<h3>Most Awesomest Elevator 2019</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Awards</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= path_to_image('residential1.jpg') %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<%= image_tag 'residential1.jpeg', class: 'img-fluid', width: "600", height:"399" %>
									</figure>

									<div class="item-box-desc">
										<h3>Modern Loft Elevator</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>

										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercial"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= path_to_image('comm1.jpg') %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<%= image_tag 'comm1.jpg', class: 'img-fluid', width: "600", height:"399" %>
									</figure>

									<div class="item-box-desc">
										<h3>Univeristy of Suffolk Lifts</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>

										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= path_to_image('award2.jpg') %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<%= image_tag 'award2.jpg', class: 'img-fluid', width: "600", height:"399" %>
									</figure>

									<div class="item-box-desc">
										<h3>German Innovation Award 2020</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Awards</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= path_to_image('residential2.jpg') %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<%= image_tag 'residential2.jpg', class: 'img-fluid', width: "600", height:"399" %>
									</figure>

									<div class="item-box-desc">
										<h3>Underground Parking Lift</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>

										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercial"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= path_to_image('comm2.jpg') %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<%= image_tag 'comm2.jpg', class: 'img-fluid', width: "600", height:"399" %>
									</figure>

									<div class="item-box-desc">
										<h3>Alot of Elevators!</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= path_to_image('award3.jpg') %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<%= image_tag 'award3.jpg', class: 'img-fluid', width: "600", height:"399" %>
									</figure>

									<div class="item-box-desc">
										<h3>MBJ Small Business Award 2019</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Awards</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= path_to_image('residential3.jpg') %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<%= image_tag 'residential3.jpg', class: 'img-fluid', width: "600", height:"399" %>
									</figure>

									<div class="item-box-desc">
										<h3>New Condo Development Chooses Rocket Elevator</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix commercial"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= path_to_image('comm3.jpg') %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<%= image_tag 'comm3.jpg', class: 'img-fluid', width: "600", height:"399" %>
									</figure>

									<div class="item-box-desc">
										<h3>Hospital Gets an Elevator Upgrade</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= path_to_image('award4.jpg') %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<%= image_tag 'award4.jpg', class: 'img-fluid', width: "600", height:"399" %>
									</figure>

									<div class="item-box-desc">
										<h3>Peoples Choice Award for Customer Service</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Awards</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= path_to_image('residential4.jpg') %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<%= image_tag 'residential4.jpg', class: 'img-fluid', width: "600", height:"399" %>										
									</figure>

									<div class="item-box-desc">
										<h3>Hotel Elevators</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix commercial"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= path_to_image('comm4.jpg') %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<%= image_tag 'comm4.jpg', class: 'img-fluid', width: "600", height:"399" %>
									</figure>

									<div class="item-box-desc">
										<h3>Mall Elevators</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


						</div>


				</div>
			</section>
			<!-- /PORTFOLIO -->




			<!-- Testimonials -->
			<section class="section-xs dark">
				<div class="container">

					<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div class="testimonial">
							<figure>
								<%= image_tag 'me.jpg', class: 'rounded' %>
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">This guy knows his way around a shaft!</p>
								<cite>
									Colin Larke
									<span>Employee of the Month</span>
								</cite>
							</div>
						</div>
						<div class="testimonial">
							<figure>
								<%= image_tag 'ceo.jpg', class: 'rounded' %>
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">Do. Or do not. There is no try.</p>
								<cite>
									Mathieu Houde
									<span>Rocket Elevator CEO</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- /Testimonials -->





			<!-- News -->
			<section id="news">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Global Elevator News</h2>
					</div>
					<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
						<div class="img-hover">
							<a href="https://www.businessinsider.com/elevators-could-be-coronavirus-hotspots-return-to-offices-2020-5">
								<%= image_tag 'news1.jfif', class: 'img-fluid' %>
							</a>

							<h4 class="text-left mt-20"><a href="https://www.businessinsider.com/elevators-could-be-coronavirus-hotspots-return-to-offices-2020-5">Elevators & Coronavirus: What you need to know!</a></h4>
							<p class="text-left">Elevators are a crucial in getting many people back to the office — but experts say they could be coronavirus transmission hotspots.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									May 21, 2020
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.cbc.ca/news/canada/toronto/elderly-ailing-tenants-fume-as-ludicrous-elevator-outage-drags-on-for-months-1.5446823">
								<%= image_tag 'news2.jpg', class: 'img-fluid' %>
								
							</a>

							<h4 class="text-left mt-20"><a href="https://www.cbc.ca/news/canada/toronto/elderly-ailing-tenants-fume-as-ludicrous-elevator-outage-drags-on-for-months-1.5446823">Elevator Outage Continues</a></h4>
							<p class="text-left">Elderly, ailing tenants fume as 'ludicrous' elevator outage drags on for months.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									January 31, 2020
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.prnewswire.com/news-releases/first-ever-solar-powered-air-driven-elevator-301067774.html">
								<%= image_tag 'news3.jfif', class: 'img-fluid' %>
							</a>

							<h4 class="text-left mt-20"><a href="https://www.prnewswire.com/news-releases/first-ever-solar-powered-air-driven-elevator-301067774.html">A Green Future for Elevators?</a></h4>
							<p class="text-left">See the first ever solar powered, air driven elevator.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									June 1, 2020
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.straitstimes.com/asia/se-asia/thailand-malls-foot-operated-lifts-wins-praise-for-measures-to-prevent-coronavirus">
								<%= image_tag 'news4.jpg', class: 'img-fluid' %>
							</a>

							<h4 class="text-left mt-20"><a href="https://www.straitstimes.com/asia/se-asia/thailand-malls-foot-operated-lifts-wins-praise-for-measures-to-prevent-coronavirus">Pedal Operated Elevator Earns Praise</a></h4>
							<p class="text-left">A shopping mall in Thailand's capital Bangkok has received praise from netizens for employing a series of measures to prevent the spread of Covid-19, including installing foot-operated control panels in its lifts.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									May 19, 2020
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.wsj.com/articles/thyssenkrupp-to-sell-elevator-unit-in-18-billion-private-equity-deal-11582831247">
								<%= image_tag 'news5.jpg', class: 'img-fluid' %>
							</a>
							<h4 class="text-left mt-20"><a href="https://www.wsj.com/articles/thyssenkrupp-to-sell-elevator-unit-in-18-billion-private-equity-deal-11582831247">Thyssenkrupp Sells Elevator Unit for Nearly $19 Billion</a></h4>
							<p class="text-left">Germany’s troubled Thyssenkrupp AG said Thursday it would sell its lucrative elevators business to a consortium led by global buyout firms Advent International and Cinven Ltd.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									February 27, 2020
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.washingtonpost.com/realestate/the-pluses-and-pitfalls-of-home-elevator-installations/2020/02/12/8269edc8-32f8-11ea-9313-6cba89b1b9fb_story.html">
								<%= image_tag 'news6.webp', class: 'img-fluid' %>
							</a>
							<h4 class="text-left mt-20"><a href="https://www.washingtonpost.com/realestate/the-pluses-and-pitfalls-of-home-elevator-installations/2020/02/12/8269edc8-32f8-11ea-9313-6cba89b1b9fb_story.html">The pluses and pitfalls of home elevator installations</a></h4>
							<p class="text-left">Everything you need to know about installing a home elevator.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									February 13, 2020
								</li>
							</ul>
						</div>
					</div>

				</div>
			</section>
			<!-- /News -->


			<!-- Clients -->
			<section id="clients" class="alternate">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Clients</h2>
					</div>

					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.3mcanada.ca/3M/en_CA/company-ca">
								<%= image_tag 'logo-3m.png', class: 'img-fluid' %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.amazon.ca">
								<%= image_tag 'logo-amazon.png', class: 'img-fluid' %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.berkshirehathaway.com/">
								<%= image_tag 'logo-bh.png', class: 'img-fluid' %>
								
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://discord.com/">
								<%= image_tag 'logo-discord.png', class: 'img-fluid' %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.facebook.com/">
								<%= image_tag 'logo-facebook.png', class: 'img-fluid' %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.microsoft.com/en-ca/">
								<%= image_tag 'logo-microsoft.png', class: 'img-fluid' %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.netflix.com/ca/">
								<%= image_tag 'logo-netflix.png', class: 'img-fluid' %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.spotify.com/ca-en/">
								<%= image_tag 'logo-spotify.png', class: 'img-fluid' %>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.tdcommercialbanking.com/home/index.jsp">
								<%= image_tag 'logo-td.png', class: 'img-fluid' %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.starbucks.ca/">
								<%= image_tag 'logo-starbucks.png', class: 'img-fluid' %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.homedepot.ca/en/home.html">
								<%= image_tag 'logo-homedepot.png', class: 'img-fluid' %>
							</a>
						</li>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.apple.com/ca/">
								<%= image_tag 'logo-apple.png', class: 'img-fluid' %>
							</a>
						</li>
					</ul>

				</div>
			</section>
			<!-- /Clients -->




			<!-- CONTACT -->
			<section id="contact">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Contact Us</h2>
						<p class="lead font-lato">Get in touch with a Rocket Elevators representative!</p>
						<hr />
					</header>


					<div class="row">

						<!-- FORM -->
						<div class="col-md-8 col-sm-8">

							<h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>

							
							<!--
								MESSAGES
								
									How it works?
									The form data is posted to php/contact.php where the fields are verified!
									php.contact.php will redirect back here and will add a hash to the end of the URL:
										#alert_success 		= email sent
										#alert_failed		= email not sent - internal server error (404 error or SMTP problem)
										#alert_mandatory	= email not sent - required fields empty
										Hashes are handled by assets/js/contact.js

									Form data: required to be an array. Example:
										contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
										Also, add `required` to input fields if is a mandatory field. 
										Example: <input required type="email" value="" class="form-control" name="contact[email][required]">

									PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
												 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP

									WARNING! Do not change the `email` and `name`!
												contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
												contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
							-->

							<!-- Alert Success -->
							<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div><!-- /Alert Success -->


							<!-- Alert Failed -->
							<div id="alert_failed" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>[SMTP] Error!</strong> Internal server error!
							</div><!-- /Alert Failed -->


							<!-- Alert Mandatory -->
							<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
							</div><!-- /Alert Mandatory -->


							<%= form_tag contactToLead_path, :id=> 'contactForm', multipart: true do %>
							
							<%# <%= form_with url: "/contactToLead", multipart: true do |f| %>
								<fieldset>
									<input type="hidden" name="action" value="contact_send" />

									<div class="row">
											<div class="col-md-6">
												<label for="contact:name">Full Name *</label>
												<input required type="text" value="" class="form-control" name="contact[name]" id="contact:name">
											</div>
											<div class="col-md-6">
												<label for="contact:business-name">Business Name</label>
												<input type="text" value="" class="form-control" name="contact[company_name]" id="contact:company_name">
											</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label for="contact:email">E-mail Address *</label>
											<input required type="email" value="" class="form-control" name="contact[email]" id="contact:email">
										</div>
										<div class="col-md-6">
											<label for="contact:phone">Phone</label>
											<input type="text" value="" class="form-control" name="contact[phone]" id="contact:phone">
										</div>
								</div>
									<div class="row">
											<div class="col-md-8">
												<label for="contact:project_name">Project Name</label>
												<input type="text" value="" class="form-control" name="contact[project_name]" id="contact:project_name">
											</div>
											<div class="col-md-4">
												<label for="contact_department">Department *</label>
												<select required class="form-control pointer" name="contact[department]" id="contact:department">
													<option value="">--- Select ---</option>
													<option value="Sales">Sales</option>
													<option value="Marketing">Marketing</option>
													<option value="Engineering">Engineering</option>
												</select>
											</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<label for="contact:description">Describe your project</label>
												<textarea maxlength="5000" rows="4" class="form-control" name="contact[description]" id="contact:description"></textarea>
											</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<label for="contact:message">Message *</label>
												<textarea required maxlength="10000" rows="8" class="form-control" name="contact[message]" id="contact:message"></textarea>
											</div>
									</div>
									
									<div class="row">
											<div class="col-md-12">
												<label for="attachment">File Attachment</label>

												<!-- custom file upload -->
												<input class="custom-file-upload" type="file" id="attachment" name="attachment" data-btn-text="Select a File" />
												<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

											</div>
									</div>

								</fieldset>

								<div class="row">
									<div class="col-md-12">
										
										

										<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
									</div>
								</div>
							<% end %>

						</div>
						<!-- /FORM -->


						<!-- INFO -->
						<div class="col-md-4 col-sm-4">

							<h2>Visit Us</h2>

	
							<div id="map" class="h-400"></div>

							<hr />

							<p>
								<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 418-725 Boulevard Lebourgneuf, Québec, QC G2J 0C4</span>
								<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1800-555-1234">1800-555-1234</a></span>
								<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:mail@yourdomain.com">info@rocketelevators.com</a></span>
							</p>

						</div>
						<!-- /INFO -->

					</div>

				</div>
			</section>
			<!-- /CONTACT -->
		<script>
			function initMap() {
				var location = {lat: 46.8428399, lng: -71.279598};
				var map = new google.maps.Map(document.getElementById("map"), {
					zoom: 14,
					center: location
				});
				var marker = new google.maps.Marker({
					position: location,
					map: map
				})
			}	
		</script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBcNsxXSDk1Zvt7ZTDmTgdzIteT9_PiqM&callback=initMap">
		</script>