			 <%= stylesheet_link_tag 'green'%>
			 <section class="page-header">
				<div class="container">

					<h1>RESIDENTIAL SERVICES</h1>

					<!-- breadcrumbs -->
					<ol class="breadcrumb">
						<li><%= link_to 'HOME', main_index_path%></li>
						<li class="active">Services</li>
					</ol><!-- /breadcrumbs -->

				</div>
			</section>
			<!-- /PAGE HEADER -->




			<!-- -->
			<section>
				<div class="container">
					
					<p class="lead">Rocket elevators offers a host of solutions for to help make your house/condo feel more like home. Whether you need help traversing your home or just appreciate the convienience Rocket Elevators can help!</p>
					<div class="divider divider-center divider-color"><!-- divider -->
						<i class="fa fa-chevron-down"></i>
					</div>

					<!-- BORN TO BE A WINNER -->
					<article class="row">
						<div class="col-md-6">
							<!-- OWL SLIDER -->
							<div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"backSlide", "progressBar":"true"}'>
								<div>
									<%= image_tag 'resipage1.jpeg', class: 'img-fluid' %>
								</div>
								<div>
									<%= image_tag 'resipage2.jpg', class: 'img-fluid' %>
								</div>
								<div>
									<%= image_tag 'resipage3.png', class: 'img-fluid' %>
								</div>
								<div>
									<%= image_tag 'resipage4.jpg', class: 'img-fluid' %>
								</div>
							</div>
							<!-- /OWL SLIDER -->
						</div>
						<div class="col-md-6">
							<h3>Rocket Elevators : Four reasons to choose Rocket Elevator!</h3>
							<p>You or your loved one is getting older and needs help getting around</p>
							
							<p>An elevator can help those with physical disabilities to regain a sense of control in their home.</p>
							
							<p>Getting around your mansion sure can be tough, and everyone knows stairs are for poor people!</p>
							
							<p>All our elevators have a 100% guarantee never to release a river of blood. Eat your heart out Kubrick!</p>
						</div>
					</article>
					<!-- /BORN TO BE A WINNER -->

				</div>
			</section>
			<!-- / -->




			<!-- -->
			<section>
				<div class="container">

					<!-- FEATURED BOXES 3 -->
					<div class="row">
						<div class="col-md-3 col-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-shield"></i>
								<h4>Best in class saftey</h4>
								<p>Committed to providing the safest solution on the market. And we have the accolades to prove it.</p>
							</div>
						</div>
						<div class="col-md-3 col-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-tools"></i>
								<h4>Elegant yet modern design</h4>
								<p>Unlike generic elevator systems, Rocket Elevators solutions are designed to blend nicely into your home.</p>
							</div>
						</div>
						<div class="col-md-3 col-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-happy"></i>
								<h4>A smoother experience</h4>
								<p>No more bumps and jerks. Our products offer the most comfortable rides.</p>
							</div>
						</div>
						<div class="col-md-3 col-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-tools-2"></i>
								<h4>Industry leading support and service</h4>
								<p>We offer same day service on all our products. If you encounter a problem a qualified Rocket Elevators technician will immediately be dispatched to help. </p>
							</div>
						</div>
					</div>
					<!-- /FEATURED BOXES 3 -->

				</div>
			</section>
			<!-- / -->
		
			<!-- -->
			<section>
				<div class="container">

					<div class="row">
						<div class="col-md-6">
							<h3 class="fs-20">Why choose Rocket Elevators?</h3>
							<ul class="list-unstyled">
								<li><i class="fa fa-check"></i> Leaders in elevator technology</li>
								<li><i class="fa fa-check"></i> Best in class customer support</li>
								<li><i class="fa fa-check"></i> Recipient of numerous awards for our projects</li>
								<li><i class="fa fa-check"></i> We have a pretty decent website </li>
							</ul>
						</div>

						<div class="col-md-6">
							<h3 class="fs-20 text-center">What our residential clients say?</h3>
							<!-- 
								Note: remove class="rounded" from the img for squared image!
							-->
							<ul class="row clearfix testimonial-dotted list-unstyled">
								<li class="col-md-6">
									<div class="testimonial">
										<figure class="float-left">
											<%= image_tag 'knope.jfif', class: 'rounded' %>
										</figure>
										<div class="testimonial-content">
											<p>Because stairs are a young man's game!</p>
											<cite>
												Leslie Knope
												<span>Pawnee Parks Dpt.</span>
											</cite>
										</div>
									</div>
								</li>
								<li class="col-md-6">
									<div class="testimonial">
										<figure class="float-left">
											<%= image_tag 'Samlevenson.jpg', class: 'rounded' %>
										</figure>
										<div class="testimonial-content">
											<p>If you die in an elevator, be sure to push the Up button.</p>
											<cite>
												Sam Levenson
												<span>A Real Business Inc.</span>
											</cite>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</section>
			<!-- / -->